manifest {
  description = 'Fastq files mapping analysis with Nextflow' 
  mainScript = 'Nextflow.nf'
}

docker {
  enabled= false
}

singularity {
  enabled=true
  runOptions = '-B /share/data'//location where singularity willl be run. important if not wont work.
}

//configuration for each process
process {
     withName:concatenate_fastq_files { //This works with the need of concat or not.
        process.executor = 'sge'                                                                                                                  
        clusterOptions = '-l h_vmem=10G'
    }
    withName:cutadapt_adaptor_trimming {
        container = '/share/data/software/singularity/cutadapt_3.0.sif'
        process.executor = 'sge'                                                                                                                  
        clusterOptions = '-l h_vmem=20G -pe smp 2'
    }

    withName:cutadapt_count_log {
        process.executor = 'sge'                                                                                                                  
        clusterOptions = '-l h_vmem=10G -pe smp 2'
    }
    
    withName:runFastQC {
        container = '/share/data/software/singularity/fastqc_0.11.5.sif'
        process.executor ='sge'                                                                                                                     
        clusterOptions = "-l h_vmem=20G"
    }
    withName:runMultiQC {
        container = '/share/data/software/singularity/multiqc_latest.sif'
        process.executor = 'sge'                                                                                                                     
        clusterOptions = "-l h_vmem=20G"
    }
    withName:prinseq_trimming {
        container = '/share/data/software/singularity/prinseq_0.20.3.sif'
        process.executor = 'sge'                                                                                                                     
        clusterOptions = "-l h_vmem=100G"
    }

    withName:call_acc {
        process.executor = 'sge'                                                                                                                     
        clusterOptions = "-l h_vmem=16G"
    }
    withName:bowtie_index {
        container = '/share/data/software/singularity/bowtie_v2.4.1_cv1.sif'
        process.executor = 'sge'                                                                                                                     
        clusterOptions = "-l h_vmem=16G -pe smp 2"
    }
    withName:bowtie_alignment {
        container='/share/data/software/singularity/bowtie_v2.4.1_cv1.sif' 
        process.executor = 'sge'                                                                                                                     
        clusterOptions = "-l h_vmem=20G -pe smp 2"
    }

    withName:samtools_samtobam {
        container='/share/data/software/singularity/samtools_latest.sif'
        process.executor = 'sge'                                                                                                                     
        clusterOptions = "-l h_vmem=20G -pe smp 2"
    }
}


params.raw_files = "$baseDir/Raw_fastq/**.fastq.gz" //fastq files location
params.concat_script="$baseDir/scripts/concatenate_fastq.pl"
params.adaptors_file="$baseDir/file_list/adaptor_Illumina.list" //location of adapters to trim
params.cutadapt_trimmed_file_loc="Cutadapt" //output of cutadapt fastq files
params.cutadapt_log_script="$baseDir/scripts/generate_adapter_statistics.pl"
params.prinseq_trimmed_file_loc="Prinseq" //prinseq outputs
params.acc_script="$baseDir/scripts/extractFastaFromAcc_eutils.sh" //script to download fasta sequences from NCBI
params.acc_list = "$baseDir/file_list/acc.list" //fasta file list to download
params.genome = "HPV"
params.bowtie_indexed_genome_loc= "Bowtie/index" //ouput of genome index
params.bowtie_alignment_loc="Bowtie/alignment" //output of aligned files
params.quality_log_loc="FastQC" //fastqc outputs


params.min_overlap = 10 //parameters for cutadapt
params.min_len_cut = 50


params.min_len = 50 //parameters for prinseq step
params.min_qual_mean=25
params.lc_threshold= 70
params.ns_max_n =20
params.trim_left=9
params.lc_method= "entropy"

